
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="keywords" content="用线" />
  <meta name="description" content="用线条创作的微型雕塑 令人惊叹不已 " />
  <title>关于作者</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="__INDEX__/img/yteng.jpg" />
  <link rel="stylesheet" type="text/css" media="all" href="__INDEX__/css/style.css" />
  <link rel="stylesheet" type="text/css"  href="__INDEX__/css/font-awesome.min.css"/>
  <script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
  <script type="text/javascript" src="__INDEX__/js/responsiveslides.min.js"></script>
  <script type="text/javascript" src="__INDEX__/js/yycm.js"></script>

<body>

  <!--引入首页-->
  {include file="common/header" /}

  <div class="wrap" >
    <div class="main">
      <div class="article">
        <div class="map">
          <span> 当前位置&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">首页</a>&nbsp;>&nbsp;
            <a href=""> 关于作者 &nbsp;>&nbsp;</a>正文 </span>
        </div>
        <div class="title">
          <h1> 萧逸小杨</h1>
          <div class="article"> 
         
          <div style=" margin:20px">
            <h3>
            作者：萧逸小杨
          </h3>
          </div>
          
          <div style=" margin:20px">
            <h4>微信/QQ：1409026014</h4>
          </div>
          
            
           <div style=" margin:20px">
            <h4>邮箱：1409026014@qq.com</h4>
          </div>
         
      
          <div style=" margin:20px">
            GitHub：<a href="https://github.com/XiaoYiXiaoYang">萧逸小杨</a> 
          </div>


          </div>
        </div>
        <div class="subblock">
          <script src=/d/js/acmsd/thea6.js></script>
        </div>
        
      

     
        
  

        <div class='pagination'></div>
        <div class="subblock">
          <script src=/d/js/acmsd/thea8.js></script>
        </div>
        <div class="postcopyright">
          <p><strong>版权保护: </strong> 本文由 萧逸小杨 原创，转载请保留链接: <a href="http://www.yteng3456.xyz/" title=> http://www.yteng3456.xyz/</a></p>
        </div>
        
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","tsina","bdysc","weixin","renren","tqq","tieba","douban","bdhome","sqq","mail","copy","print"],"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
      </div>
      <div class="clear"></div>
      <div class="con_pretext">
      
      </div>
      <div class="clear"></div>
      <div class="submain">
        <div class="map">
          <h3></h3>
        </div>
        <ul class="related_img">
        </ul>
      </div>
      <div class="clear"></div>
      <div class="submain">
        <div class="comments" id="comments">
          <div class="ds-thread" data-category="1" data-thread-key="98" data-title="用线条创作的微型雕塑 令人惊叹不已"></div>
        </div>
      </div>
    </div>


  </div>
  <div class="clear"></div>


  <!--引入尾页-->
  {include file="common/footer" /}

  <script type="text/javascript">
    var duoshuoQuery = {short_name:"ecms064"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
</body>
</html>