
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="keywords" content="用线" />
  <meta name="description" content="用线条创作的微型雕塑 令人惊叹不已 " />
  <title>{$article.title}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="__INDEX__/img/yteng.jpg" />
  <link rel="stylesheet" type="text/css" media="all" href="__INDEX__/css/style.css" />
  <link rel="stylesheet" type="text/css"  href="__INDEX__/css/font-awesome.min.css"/>
  <script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
  <script type="text/javascript" src="__INDEX__/js/responsiveslides.min.js"></script>
  <script type="text/javascript" src="__INDEX__/js/yycm.js"></script>

<body>

  <!--引入首页-->
  {include file="common/header" /}

  <div class="wrap" >
    <div class="main">
      <div class="article">
        <div class="map">
          <span> 当前位置&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">首页</a>&nbsp;>&nbsp;
            <a href=""> {$article.catename} &nbsp;>&nbsp;</a>> 正文 </span>
        </div>
        <div class="title">
          <h1> {$article.title} </h1>
          <div class="subtitle"> 
            <span><i class="fa fa-clock-o"></i>{$article.publish_date} </span>
            <span><i class="fa fa-address-book-o" aria-hidden="true"></i>{$article.author} </span>
            <span><i class="fa fa-thumbs-o-up"></i> <a href="/funny/201406/98.html#comments" class="ds-thread-count" data-thread-key="98">{$article.like_nums}</a> </span>
            <span><i class="fa fa-eye"></i> <script src=/e/public/ViewClick/?classid=1&id=98&addclick=1></script>{$article.read_times} </span>

            <span> <i class="fa fa-tags"></i><a href="" target="_blank">{$article.keywords}</a> </span> 
          </div>
        </div>
        <div class="subblock">
          <script src=/d/js/acmsd/thea6.js></script>
        </div>
        <div id="pic" class="picture" align="center">
          <img src="__UPLOADS__/{$article.pic}" height="250" align="center">
        </div>
        

            <div id="test-editormd" >
                <textarea style="display:none;">{$article.content}</textarea>
            </div>


         <link rel="stylesheet" href="__ADMIN__/markdown/css/editormd.css" />
        <!--  <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" /> -->
         <link rel="stylesheet" href="__ADMIN__/markdown/css/editormd.preview.css" />
         
         <script src="__ADMIN__/markdown/examples/js/jquery.min.js""></script>
         <script src="__ADMIN__/markdown/lib/marked.min.js"></script>
         <script src="__ADMIN__/markdown/lib/prettify.min.js"></script>

         <script src="__ADMIN__/markdown/lib/raphael.min.js"></script>
         <script src="__ADMIN__/markdown/lib/underscore.min.js"></script>
         <script src="__ADMIN__/markdown/lib/sequence-diagram.min.js"></script>
         <script src="__ADMIN__/markdown/lib/flowchart.min.js"></script>
         <script src="__ADMIN__/markdown/editormd.js"></script>
        <!--  <script src="__ADMIN__/markdown/editormd.min.js"></script> -->

        
        
        <script type="text/javascript">
          $(function() {
                var testEditor;
          testEditor = editormd.markdownToHTML("test-editormd", {
         // markdown:$scope.apidetails.content,
          htmlDecode      : "style,script,iframe",  // you can filter tags decode
          emoji           : true,
          taskList        : true,
          tex             : true,  // 默认不解析
          flowChart       : true,  // 默认不解析
          sequenceDiagram : true,  // 默认不解析
          });
          });
        </script>




        <div class='pagination'></div>
        <div class="subblock">
          <script src=/d/js/acmsd/thea8.js></script>
        </div>
        <div class="postcopyright">
          <p><strong>版权保护: </strong> 本文由 {$article.author} 原创，转载请保留链接: <a href="http://www.yteng3456.xyz/" title={$article.title}> http://www.yteng3456.xyz/</a></p>
        </div>
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","tsina","bdysc","weixin","renren","tqq","tieba","douban","bdhome","sqq","mail","copy","print"],"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
      </div>
      <div class="clear"></div>
      <div class="con_pretext">
        <ul>
                        {if condition="$prev eq ''"}
                        <a class="l" href="javascritp:void(0);">上一篇没有了</a> {else/}
                        <a class="l" href="{:url('article/lists',array('article_id'=>$prev))}">上一篇 »</a> {/if} 
                        {if condition="$next eq ''"}
                        <a class="r" href="javascritp:void(0);" style="float: right;">下一篇没有了</a> {else/}
                        <a class="r" href="{:url('article/lists',array('article_id'=>$next))}" style="float: right;">下一篇 »</a> {/if}

          <!-- <li class="first">上一篇： <a href='/funny/201406/97.html'>3D立体素描，令人叹为观止</a> </li>
          <li class="last">下一篇： <a href='/funny/201406/99.html'>有趣的玻璃树屋幼儿园，室内与室外完美融合</a> </li> -->
        </ul>
      </div>
      <div class="clear"></div>
      <div class="submain">
        <div class="map">
          <h3>猜你喜欢</h3>
        </div>
        <ul class="related_img">
        </ul>
      </div>
      <div class="clear"></div>
      <div class="submain">
        <div class="comments" id="comments">
          <div class="ds-thread" data-category="1" data-thread-key="98" data-title="用线条创作的微型雕塑 令人惊叹不已"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="clear"></div>


  <!--引入尾页-->
  {include file="common/footer" /}

  <script type="text/javascript">
    var duoshuoQuery = {short_name:"ecms064"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
</body>
</html>