<div class="footer">
  <div class="wrap">
    <div class="group">
      <h3>版权所有</h3>
      <p>
      <li>开发版本：ThinkPHP5.0</li>
      <li>内容：学习笔记、技术分享</li>
      <li>版权所有：@2019-2020  yteng3456.xyz</li>
      <li>网站备案：陕ICP备19001452号</li>    
      </p>

    </div>
    <div class="group">
      <h3>联系方式</h3>
      <p>
      <li>作者：萧逸小杨</li>
      <li>主题：个人博客</li>
      <li>邮箱:1409026014＠qq.com</li>
      <li>声明：本站所有内容归个人所有，可免费学习</li>
      <li>未经允许不可转载，不可用于商业目的</li>
      </p>
    </div>

    <div class="group">
      <h3>学习参考</h3>
      <p>
      <!-- <li><a href="https://www.tongpankt.com/" >童攀课堂</a></li> -->
     
      </p>
    </div>

    <div class="clear"></div>
    <p class="ffooter">Copyright © 2019-2020 <a href="http://www.yteng3456.xyz/" >萧逸小杨</a> 版权所有 | 陕ICP备19001452号 | </p>  
  </div>
</div>