
<div class="top"> <span href="#" class="totop"></span>
  <div class="wrap page-header">
    <!-- <img src="__INDEX__/img/bigpic01.jpg" width="100%" height="100%"> -->
    <h1> 道路千万条  学习第一条  今天不努力  求职两行泪</h1>
  </div>
  <div class="nav">
    <div class="wrap zwrap">
      <div class="navbar-header">
        <li class="navbar-toggle"> <i class="fa fa-list fa-2x"></i> </li>
        <li style="float:right;display:inline-block">
          <div class="toggle-search"><i class="fa fa-search fa-2x"></i></div>
        </li>   
        <li style="float:right;">
          <div class="search-expand">
            <div class="search-expand-inner">
              <form onSubmit="return checkSearchForm()" method="post" name="searchform" id="searchform" class="searchform themeform" action="/e/search/index.php" >
                <input type="text" class="search" name="keyboard" onblur="if(this.value=='')this.value='按回车键搜索...';" onfocus="if(this.value=='按回车键搜索...')this.value='';" value="按回车键搜索..." placeholder="按回车键搜索">
                <input type="hidden" value="title" name="show">
                <input type="hidden" value="1" name="tempid">
                <input type="hidden" value="news" name="tbname">
                <input name="mid" value="1" type="hidden">
                <input name="dopost" value="search" type="hidden">

              </form>
            </div>
          </div>
        </li>
      </div>

      <div class="navbar-collapse">
        <ul>
          <li class="menu-item "><a href="{:url('index/index')}">首页</a></li>

      <!--     <li class="menu-item current_page_item"><a href="{:url('technology/index')}">技术分享</a></li>
          <li class="menu-item "><a href="">学习笔记</a></li>-->
          <!-- <li class="menu-item "><a href="">生活趣事</a></li>  -->
          <li class="menu-item "><a href="{:url('Guest/lists')}">留言板</a></li>
          <li class="menu-item "><a href="{:url('Author/index')}">关于我</a>
            <li class="menu-item "><a href="{:url('admin/Index/index')}">后台入口</a></li> 
          <!--   <ul class="sub-menu">
              <li class="menu-item"><a href="">网站建设</a></li>
              <li class="menu-item"><a href="">学习经历</a></li>
            </ul>
          </li>
          <li class="menu-item "><a href="">学习教程</a>
              <ul class="sub-menu">
          <li class="menu-item"><a href="">前台搭建</a></li>
          <li class="menu-item"><a href="">后台搭建</a></li>
          <li class="menu-item"><a href="">源码下载</a></li>
              </ul>
          </li> 

          <li class="menu-item ">
              <a href="">登录</a>  
          </li>  
          <li class="menu-item ">
              <a href="">注册</a>
          </li>  -->     

      </div>
    </div>
  </div>
  <div class="notic">
    <div class="wrap subnotic"><i class="fa fa-bullhorn"></i>无最新公告</div>
  </div>
</div>