                        <!-- Page Sidebar -->
                        <div class="page-sidebar" id="sidebar">
                            <!-- Page Sidebar Header-->
                            <div class="sidebar-header-wrapper">
                                <input class="searchinput" type="text">
                                <i class="searchicon fa fa-search"></i>
                                <div class="searchhelper"></div>
                            </div>
                            <!-- /Page Sidebar Header -->
                            <!-- Sidebar Menu -->
                            <ul class="nav sidebar-menu">
                                <!--Dashboard-->
                                <li>
                                    <a href="{:url('index/index/index')}" >
                                        <i class="menu-icon fa fa-film"></i>

                                        <span class="menu-text">
                                            网站首页 
                                        </span>

                                        <i class="menu-expand"></i>
                                    </a>
                                </li> 
                                <li>
                                    <a href="">
                                        <i class="menu-icon fa fa-gear"></i>

                                        <span class="menu-text">
                                            管理者信息                   
                                        </span>

                                        <i class="menu-expand"></i>
                                    </a>
                                </li>                        
                                
                                <li>
                                    <a href="#" class="menu-dropdown">
                                        <i class="menu-icon fa fa-gear"></i>

                                        <span class="menu-text">
                                            管理
                                        </span>

                                        <i class="menu-expand"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="{:url('cate/catelist')}">
                                                <span class="menu-text">
                                                    栏目管理                                   
                                                </span>
                                                <i class="menu-expand"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{:url('article/articlelist')}">
                                                <span class="menu-text">
                                                    文章管理                                  
                                                </span>
                                                <i class="menu-expand"></i>
                                            </a>
                                        </li>
                                
                                        <li>
                                            <a href="{:url('guest/guestlist')}">
                                                <span class="menu-text">
                                                    留言管理                                  
                                                </span>
                                                <i class="menu-expand"></i>
                                            </a>
                                        </li>
                                    </ul>                            
                                </li>                        

                            </ul>
                            <!-- /Sidebar Menu -->
                        </div>
            <!-- /Page Sidebar -->